!!!
= bootstrap_javascript_include_tag :default
= bootstrap_stylesheet_include_tag :default
%html
  %head
    %title Logs
    = stylesheet_link_tag    "logs/application", media: "all"
    = javascript_include_tag "logs/application"
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{role: "navigation"}
      .navbar-header
        %a.navbar-brand{href: "/logs"} Logs
      %div
        %ul.nav.navbar-nav
          %li{class: active('logs/errors')}
            %a{href: "/logs/errors"} Errors
          %li{class: active('logs/request_data')}
            = link_to 'Request Data', request_data_path
          %li
            = link_to 'Return to App', '/'
    %hr
    = yield
